/*main-styles */
*{
  border:0px;
  margin: 0px;
  text-decoration: none;
}

body{
  display: flex;
}

.aside-box{
  width: 400px;
  height: 100%;
  background-color: #2F80ED;
}

.logo-name-box{
  display: flex;
  align-items: center;
}

.logo-box{
  width: 38px;
  height: 38px;
  margin-top: 64px;
  margin-left: 44px;
}

.name-box{
  width: 208px;
  height: 36px;
  margin-left: 16px;
  margin-top: 64px;
  align-items: center;
}

.name{
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*main-styles */

.button{
  margin-top: 169px;
  margin-left: 44px;
  width: 300px;
  height: 60px;
  background-color:#333;
}

.signup{
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 102px;
  padding-top: 12px;
}

.button-login{
  margin-top: 30px;
  margin-left: 44px;
  margin-bottom: 501px;
  width: 300px;
  height: 60px;
  background-color:#333;
}

.login{
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 112px;
  padding-top: 12px;
}

.main-box{
 position: relative;
}

.text-box-1{
  position: absolute;
  width: 561px;
  height: 108px;
  top: 73px;
  left: 479px;
  z-index: 1;
}

.text{
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-photo{
  position: absolute;
  width: 951px;
  height: 607px;
  top: 167px;
  left: 22px;
}

.photo{
  width: 951px;
  height: 607px;
  flex-shrink: 0;
}

.text-box-2{
  position: absolute;
  width: 561px;
  height: 108px;
  top: 734px;
  left: 75px;
  z-index: 1;
}
.h3_dashboard{
  width: 138px;
  height: 36px;
  margin-left: 73px;
  margin-top: 65px;
}
.h4_views{
  color: #333;
  margin-left: 73px;
  margin-top: 36px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.div_flex{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.first_section{
  margin-top: 23px;
  margin-left: 73px;
  width: 243px;
  height: 150px;
  border-radius: 25px;
  background: #333;
}
.p_top_1{
  padding-top: 36px;
  margin-left: 69px;
  color: #FFF;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.p_1{
  padding-top: 3px;
  padding-left: 102px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.second_section{
  margin-top: 23px;
  margin-left: 73px;
  width: 243px;
  height: 150px;
  border-radius: 25px;
  background: #333;
}
.p_top_2{
  padding-top: 36px;
  margin-left: 69px;
  color: #FFF;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.p_2{
  padding-top: 3px;
  padding-left: 102px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.third_section{
  margin-top: 23px;
  margin-left: 73px;
  width: 243px;
  height: 150px;
  border-radius: 25px;
  background: #333;
}
.p_top_3{
  padding-top: 36px;
  margin-left: 69px;
  color: #FFF;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.p_3{
  padding-top: 3px;
  padding-left: 102px;
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.h4_pages{
  margin-left: 73px;
  margin-top: 31px;
  color: #333;
}
.rectangle_1{
  display: flex;
  justify-content: space-between;
  gap: 687px;
  margin-left: 73px;
  padding-top: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  width: 788px;
  height: 65px;
  flex-shrink: 0;
}
.rect_1_1{
  margin-left: 39px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rect_1_2{
  margin-right: 17px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rectangle_2{
  display: flex;
  justify-content: space-between;
  gap: 566px;
  margin-left: 73px;
  padding-top: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  width: 788px;
  height: 65px;
  flex-shrink: 0;
}
.rect_2_1{
  margin-left: 39px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rect_2_2{
  margin-right: 30px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rectangle_3{
  display: flex;
  justify-content: space-between;
  gap: 556px;
  margin-left: 73px;
  padding-top: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  width: 788px;
  height: 65px;
  flex-shrink: 0;
}
.rect_3_1{
  margin-left: 39px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rect_3_2{
  margin-right: 29px;
  margin-top: 19px;
  color: #4F4F4F;
}
.rectangle_4{
  display: flex;
  justify-content: space-between;
  gap: 632px;
  margin-left: 73px;
  padding-top: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  width: 788px;
  height: 65px;
  flex-shrink: 0;
}
.rect_4_1{
  margin-left: 39px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rect_4_2{
  margin-right: 22px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.h4_country{
  margin-left: 73px;
  margin-top: 31px;
  color: #333;
}
.border_1{
  display: flex;
  justify-content: space-between;
  gap: 494px;
  margin-left: 73px;
  padding-top: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  width: 788px;
  height: 65px;
  flex-shrink: 0;
}
.border_1_1{
  margin-left: 39px;
  margin-top: 19px;
  color: #4F4F4F;
}
.border_1_2{
  margin-right: 17px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.border_2{
  display: flex;
  justify-content: space-between;
  gap: 539px;
  margin-left: 73px;
  padding-top: 16px;
  border: 1px solid #BDBDBD;
  background: #FFF;
  width: 788px;
  height: 65px;
  flex-shrink: 0;
}
.border_2_1{
  margin-left: 39px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.border_2_2{
  margin-right: 30px;
  margin-top: 19px;
  color: #4F4F4F;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  /* This is Settings styles */


.nav-bar {
  background-color: #2F80ED;
  margin-top: 157px;
}
.nav-bar2 {
  background-color: #2F80ED;
  margin-top: 50px;
}
.nav-bar3 {
  background-color: #2F80ED;
  margin-top: 506px;
}

.icon-name-box {
  align-items: center;
}
.icon-box {
  width: 24px;
  height: 24px;
  margin-left: 67px;
  display: inline-block;
}
.navigation-box {
  align-items: center;
  display: inline-block;
}
.navigation-name {
  width: 156px;
  height: 16px;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logout-box {
  align-items: center;
  display: inline-block;
}
.logout-name {
  width: 156px;
  height: 16px;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.settings-header {
  width: 102px;
  height: 36px;
  color: #515151;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 65px;
  margin-left: 73px;
  margin-bottom: 93px;
}
.form-box {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 55px;
}
  .checkbox {
  width: 400px;
  height: 75px;
  border: 1px solid #828282;
  background: #FFF;
  margin-bottom: 31px;
}
.email {
  width: 400px;
  height: 75px;
  border: 1px solid #828282;
  background: #FFF;
  margin-bottom: 31px;
}
.password {
  width: 400px;
  height: 75px;
  border: 1px solid #828282;
  background: #FFF;
  margin-bottom: 42px;
}
button {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  background-color: #333;
  color: #FFF;
  width: 150px;
  height: 75px;
  margin-left: 55px;
}
.dashboard-box{
  display: flex;
  align-items: center;
}
.dashboard-logo{
  width: 24px;
  height: 24px;
  margin-top: 155px;
  margin-left: 67px;
}
.dashboard-name{
  margin-left: 10px;
  margin-top: 157px; 
}
.dashboard{
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
  .settings-box{
  display: flex;
  align-items: center;
}
.settings-logo{
  width: 24px;
  height: 24px;
  margin-top: 44px;
  margin-left: 67px;
}
.settings-name{
  margin-left: 9px;
  margin-top: 50px;
}
.settings{
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.log-out-box{
  display: flex;
  align-items: center;
}
.log-out-logo{
  margin-top: 496px;
  margin-left: 63px;
  width: 24px;
  height: 24px;
}
.log-out{
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 506px;
  margin-left: 14px;
}
.form-name {
  margin-top: 24px;
  margin-left: 29px;
  margin-bottom: 24px;
  display: inline-block;
  vertical-align: middle;
}
#datacollect {
  width: 40px;
  height: 40px;
  border: 1px solid #4f4f4f;
  background: #FFF;
  margin-top: 19px;
  margin-left: 189px;
  margin-bottom: 16px;
  display: inline-block;
  vertical-align: middle;
}
.email-name {
  margin-top: 24px;
  margin-left: 29px;
  margin-bottom: 24px;
  display: inline-block;
  vertical-align: middle;
}
#emailname {
  margin-top: 24px;
  margin-bottom: 24px;
  display: inline-block;
  vertical-align: middle;
}
.password-name {
  margin-top: 24px;
  margin-left: 29px;
  margin-bottom: 24px;
  display: inline-block;
  vertical-align: middle;
}
#password {
  margin-top: 24px;
  margin-left: 29px;
  margin-bottom: 24px;
  display: inline-block;
  vertical-align: middle;
}

  
  
  
  
